/*==body starts==*/
body{
  font-family: 'Lato', sans-serif;
  margin: 0;
}
/*==body ends==*/
/*==header starts==*/
header{
  background-image: linear-gradient(purple,pink);
}
/*==header ends==*/
/*==Message Section starts==*/
#Message{
  box-shadow: 10px 10px 4px 0px grey;
  border-left: 6px solid;
  border-image: linear-gradient(red,orange);
  border-image-slice: 1;
}
h3, h4{
  color: purple;
  font-weight: 700;
}
/*==Message Section ends==*/
/*==Table section starts==*/
#table-border{
  margin-top: 60px;
}
/*==Billing Address section starts==*/
#Billing-border{
  border: 1px solid black;
  padding-left:20px ;
  margin-bottom: 30px;
}
/*==Billing Address section ends==*/